In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv('Data.csv')
df

,Unnamed: 0,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,purpose,bedrooms,date_added,agency,agent,Total_Area
0,0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,For Sale,2,2/4/2019,NaN,NaN,1089.004
1,1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,For Sale,3,5/4/2019,NaN,NaN,15246.056
2,2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,For Sale,5,7/17/2019,NaN,NaN,2178.008
3,3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,For Sale,4,4/5/2019,NaN,NaN,10890.000
4,4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,For Sale,3,7/10/2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,2178.008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168441,168441,17355248,6754,https://www.zameen.com/Property/gulshan_e_maym...,House,26500000,Gadap Town,Karachi,Sindh,25.029909,67.137192,0,For Sale,6,7/18/2019,Al Shahab Enterprises,Shahmir,26136.096
168442,168442,17355249,680,https://www.zameen.com/Property/gadap_town_gul...,House,12500000,Gadap Town,Karachi,Sindh,25.017951,67.136393,0,For Sale,3,7/18/2019,Al Shahab Enterprises,Shahmir,2178.008
168443,168443,17355250,6757,https://www.zameen.com/Property/gulshan_e_maym...,House,27000000,Gadap Town,Karachi,Sindh,25.015384,67.116330,0,For Sale,6,7/18/2019,Al Shahab Enterprises,Shahmir,26136.096
168444,168444,17355251,6752,https://www.zameen.com/Property/gulshan_e_maym...,House,11000000,Gadap Town,Karachi,Sindh,25.013265,67.120818,0,For Sale,3,7/18/2019,Al Shahab Enterprises,Shahmir,21235.578
168445,168445,17355287,10045,https://www.zameen.com/Property/bahria_town_ka...,House,9000000,Bahria Town Karachi,Karachi,Sindh,25.113565,67.353811,3,For Sale,3,7/18/2019,ZPN Real Estate & Builders,Ali Raza,25591.594

In [3]:
df = df[df['city'] =='Lahore'].copy().reset_index(drop=True)
df.shape

(41427, 18)

In [4]:
df.isnull().sum()

Unnamed: 0           0
property_id          0
location_id          0
page_url             0
property_type        0
price                0
location             0
city                 0
province_name        0
latitude             0
longitude            0
baths                0
purpose              0
bedrooms             0
date_added           0
agency           10203
agent            10204
Total_Area           0
dtype: int64

In [5]:
df.dtypes

Unnamed: 0         int64
property_id        int64
location_id        int64
page_url          object
property_type     object
price              int64
location          object
city              object
province_name     object
latitude         float64
longitude        float64
baths              int64
purpose           object
bedrooms           int64
date_added        object
agency            object
agent             object
Total_Area       float64
dtype: object

In [6]:
df.drop(['agency', 'agent'], axis=1,inplace=True)
df.isnull().sum()

Unnamed: 0       0
property_id      0
location_id      0
page_url         0
property_type    0
price            0
location         0
city             0
province_name    0
latitude         0
longitude        0
baths            0
purpose          0
bedrooms         0
date_added       0
Total_Area       0
dtype: int64

In [7]:
df.drop(['Unnamed: 0', 'property_id','location_id','page_url','purpose','date_added','city','province_name','location'], axis=1,inplace=True)

In [8]:
df.drop_duplicates(inplace=True)
df.reset_index(drop=True,inplace=True)

In [9]:
df.property_type.value_counts()

House            26173
Flat              1128
Farm House         225
Upper Portion       54
Lower Portion       50
Penthouse           12
Room                 8
Name: property_type, dtype: int64

In [10]:
df.property_type.unique()

array(['House', 'Flat', 'Lower Portion', 'Farm House', 'Penthouse',
       'Upper Portion', 'Room'], dtype=object)

In [11]:
df.groupby('property_type')['price'].mean().reset_index().sort_values(by='price',ascending=True)

   property_type         price
6  Upper Portion  3.865833e+06
3  Lower Portion  5.347001e+06
1           Flat  7.976855e+06
5           Room  1.190538e+07
4      Penthouse  1.872500e+07
2          House  2.658294e+07
0     Farm House  6.146067e+07

In [12]:
#rank 0 to "Upper Portion",likewise rank 6 to "Farm House"
from pandas.api.types import CategoricalDtype
property_mapping = ["Upper Portion", "Lower Portion", "Flat", "Room", "Penthouse", "House", "Farm House"]
property_dtype = pd.CategoricalDtype( categories=property_mapping,ordered=True)
df['PropertyType'] = df['property_type'].astype(property_dtype).cat.codes

In [13]:
df['PropertyType'].unique()

array([5, 2, 1, 6, 4, 0, 3], dtype=int8)

In [14]:
df.drop('property_type',axis=1,inplace=True)
df

,price,latitude,longitude,baths,bedrooms,Total_Area,PropertyType
0,220000000,31.483869,74.325686,0,0,32670.000,5
1,40000000,31.431593,74.179980,5,5,5445.000,5
2,9500000,31.499348,74.416959,0,3,2450.259,5
3,125000000,31.522069,74.355512,7,8,5445.000,5
4,21000000,31.506483,74.286017,5,6,2994.761,5
...,...,...,...,...,...,...,...
27645,22500000,31.442248,74.402375,3,3,2722.510,5
27646,22500000,31.438989,74.404049,3,3,2722.510,5
27647,39000000,31.468350,74.401603,6,5,5445.000,5
27648,28000000,31.359647,74.253073,7,6,5445.000,5
27649,20500000,31.494408,74.437666,4,3,2722.510,5

# Outlier Removed

In [15]:
from scipy import stats
import pandas as pd
z_scores = stats.zscore(df)
threshold = 7
outliers_mask = (abs(z_scores) > threshold).any(axis=1)
df_cleaned = df[~outliers_mask]
df_cleaned.reset_index(drop=True, inplace=True)
df_cleaned.to_csv("OutliersRemoved.CSV",index=False)

# Standardization

In [36]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df_cleaned)
standardized_df = pd.DataFrame(standardized_data, columns=df_cleaned.columns)
standardized_df.to_csv("standardized.CSV",index=False)

# Normalization

In [39]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(df_cleaned)
normalized_df = pd.DataFrame(normalized_data, columns=df_cleaned.columns)

# Model training testing

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
#X = standardized_df.drop('price', axis=1)
#y = standardized_df['price']  
X = normalized_df.drop('price', axis=1)
y = normalized_df['price'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.0014817282592950007

In [41]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)
print(f"R2 Score: {r2}")
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")

R2 Score: 0.8182324930017557
Mean Absolute Error: 0.016228654000285572
Mean Squared Error: 0.0014817282592950007
Root Mean Squared Error: 0.03849322355032118

# HYPER TUNNING

In [22]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

grid_search = GridSearchCV(estimator=RandomForestRegressor(random_state=42), 
                           param_grid=param_grid, 
                           cv=3, 
                           n_jobs=-1, 
                           verbose=2)
grid_search.fit(X_train, y_train)
print("Best parameters:", grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred_best = best_model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred_best)
mse = mean_squared_error(y_test, y_pred_best)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred_best)
print(f"R2 Score: {r2}")
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")

Fitting 3 folds for each of 81 candidates, totalling 243 fits
Best parameters: {'max_depth': 20, 'min_samples_leaf': 2, 'min_samples_split': 10, 'n_estimators': 300}
R2 Score: 0.801758249819509
Mean Absolute Error: 0.18024018227884292
Mean Squared Error: 0.19533192674540095
Root Mean Squared Error: 0.4419637165485431

In [23]:
from joblib import dump
dump(best_model, 'model.joblib')

['model.joblib']

In [24]:
from joblib import load
loaded_model = load('model.joblib')

In [25]:
y_pred_best = best_model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred_best)
mse = mean_squared_error(y_test, y_pred_best)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred_best)
print(f"R2 Score: {r2}")
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")

R2 Score: 0.801758249819509
Mean Absolute Error: 0.18024018227884292
Mean Squared Error: 0.19533192674540095
Root Mean Squared Error: 0.4419637165485431